<section class="cover-section">
    <div class="cover-image">
        <img src="https://cdn.dribbble.com/users/3930799/screenshots/7673909/media/4e8b7fcc19d2bb5bb0aee22520b019e2.gif" alt="">
        
        <h1>Unleash Your Creativity, One Note at a Time</h1>
        <h2>with</h2>
        <p>Notes App</p>
    </div>
  </section>

  <section class="notes-section">
    <h2>My Notes</h2>
    <button class="add-note" id="add-note" (click)="toggleAddNoteModal()">Add a New Note</button>
    <div class="notes">
        
        <div class="note" (click)="toggleNoteDetails()">
            <h3>Exercise</h3>
            <p>Exercise for 30 minutes</p>
            <button (click)="toggleEditNoteModal(); $event.stopPropagation()">Edit</button>
            <button (click)="$event.stopPropagation()">Delete</button>
        </div>
        <div id="overlay" *ngIf="showAddNoteModal || showEditNoteModal || showNoteDetails" [ngStyle]="{'display': showAddNoteModal || showEditNoteModal || showNoteDetails ? 'block' : 'none'}">
        </div>
        <div *ngIf="showAddNoteModal" [ngStyle]="{'display': showAddNoteModal ? 'block' : 'none'}">
            <form action="" id="note-add" class="note-add" [ngStyle]="{'display': showAddNoteModal ? 'block' : 'none'}">
                <h2>Add a New Note</h2>
                <div>
                <label for="note-title">Note Title</label>
                <input type="text" id="note-title" placeholder="Enter Note Title">
                </div>
                <div>
                <label for="note-content">Note Content</label>
                
                <textarea type="text" name="note-content" placeholder="Enter the Content for your Note" id="note-content"></textarea>
                </div>
                <div>
                    <button type="submit">Add Note</button>
                    <button id="cancel">Cancel</button>
                </div>
                
            </form>
            </div>
            <div  *ngIf="showEditNoteModal" [ngStyle]="{'display': showEditNoteModal ? 'block' : 'none'}">
                <form action="" id="note-edit" class="note-edit" [ngStyle]="{'display': showEditNoteModal ? 'block' : 'none'}">
                    <h2>Edit Note</h2>
                    <div>
                    <label for="note-title">Note Title</label>
                    <input type="text" id="noteTitle">
                    </div>
                    <div>
                    <label for="note-content">Note Content</label>
                    
                    <textarea type="text" name="note-content" id="noteContent"></textarea>
                    </div>
                    <div>
                        <button type="submit">Edit Note</button>
                        <button id="cancel-edit">Cancel</button>
                    </div>
                    
                </form>
                </div>
            <div *ngIf="showNoteDetails" [ngStyle]="{'display': showNoteDetails ? 'block' : 'none'}">
            <div class="note-details" [ngStyle]="{'display': showNoteDetails ? 'block' : 'none'}">
                
                <h2>Habit Details</h2>
                <div class="note-detail">
                    <h3>Exercise</h3>
                    <p>Exercise for 30 minutes</p>
                    <p>Start Date: 12th August 2021</p>
                    <p>Current Streak: 5</p>
                    <p>Best Streak: 10</p>
                    <button id="cancelbtn">Cancel</button>
                    </div>
                </div>
            </div>
     <section>
    