<section class="cover-section">
    <div class="cover-image">
        <img src="https://cdn.dribbble.com/users/3930799/screenshots/7673909/media/4e8b7fcc19d2bb5bb0aee22520b019e2.gif" alt="">
        
        <h1>Unleash Your Creativity, One Note at a Time</h1>
        <h2>with</h2>
        <p>Notes App</p>
    </div>
  </section>

  <section class="notes-section">
    <h2>My Notes</h2>
    <button class="add-note" id="add-note" (click)="toggleAddNoteModal()">Add a New Note</button>
    <div class="notes" >
        
        <div class="note" (click)="selectNoteForDetails(note)" *ngFor="let note of notes; let i = index;">
            <h3>{{note.Title}}</h3>
            <!-- <h3>{{note.Title | reverse}}</h3> -->
            <p>{{note.Content}}</p>
            <button (click)="selectNoteForEdit(note); $event.stopPropagation();">Edit</button>
            <button (click)="note.Id ? deleteNote(note.Id) : null; $event.stopPropagation()">Delete</button>
        </div>
        <div id="overlay" *ngIf="showAddNoteModal || showEditNoteModal || showNoteDetails" [ngStyle]="{'display': showAddNoteModal || showEditNoteModal || showNoteDetails ? 'block' : 'none'}">
        </div>
        <div *ngIf="showAddNoteModal" [ngStyle]="{'display': showAddNoteModal ? 'block' : 'none'}">
            <form (ngSubmit)="createNote(title.value, content.value)" id="note-add" class="note-add" [ngStyle]="{'display': showAddNoteModal ? 'block' : 'none'}">
              <h2>Add a New Note</h2>
              <div>
                <label for="note-title">Note Title</label>
                <input type="text" id="note-title" placeholder="Enter Note Title" name="newNoteTitle" #title>
              </div>
              <div>
                <label for="note-content">Note Content</label>
                <textarea name="newNoteContent" placeholder="Enter the Content for your Note" id="note-content" #content></textarea>
              </div>
              <div>
                <button type="submit">Add Note</button>
                <button id="cancel" (click)="toggleAddNoteModal()">Cancel</button>
              </div>
            </form>
          </div>
          <div *ngIf="showEditNoteModal" [ngStyle]="{'display': showEditNoteModal ? 'block' : 'none'}">
            <form id="note-edit" class="note-edit" [ngStyle]="{'display': showEditNoteModal ? 'block' : 'none'}">
              <h2>Edit Note</h2>
              <div>
                <label for="noteTitle">Note Title</label>
                <input type="text" id="noteTitle" name="editNoteTitle" [(ngModel)]="editNoteTitle">
              </div>
              <div>
                <label for="noteContent">Note Content</label>
                <textarea name="editNoteContent" id="noteContent" [(ngModel)]="editNoteContent"></textarea>
              </div>
              <div>
                <button type="submit" (click)="updateNote()" [disabled]="!selectedNote">Edit Note</button>
                <button id="cancel-edit" (click)="toggleEditNoteModal()">Cancel</button>
              </div>
            </form>
          </div>
          <div *ngIf="showNoteDetails">
            <div class="note-details"[ngStyle]="{'display': showNoteDetails ? 'block' : 'none'}">
              <h2>Note Details</h2>
              <div class="note-detail" *ngIf="selectedNote">
                <h3>{{ selectedNote.Title }}</h3>
                <p>{{ selectedNote.Content }}</p>
                <button id="cancelbtn" (click)="toggleNoteDetails()">Close</button>
              </div>
            </div>
          </div>
     <section>
