@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

.cover-section{
    background:#28333f;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cover-image img{
    width: 30%;
    height: 50%;
    float: left;
    margin-left: 10%;
}

.cover-image h1{
    font-size: 40px;
    font-weight: 700;
    font-family: 'Dancing Script', cursive;
}
.cover-image p{
    font-size: 40px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}
.cover-image h2{
    font-family: 'Dancing Script', cursive;
}
.notes-section{
    padding: 50px 0;
    text-align: center;
   
}
.notes{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
    flex-direction: row;
    flex-wrap: wrap;
}
.note{
    margin-top: 5%;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border: solid 1px #28333f;
    transition: 0.3s;
    cursor: pointer;
    width: 300px;
    height: fit-content;

}
.note button{
    background-color: #28333f;
    border-radius: 10px;
    border: none;
    width:100px;
    height: 40px;
    color: #fff;
    margin: 5%;

}
.note button:hover{
    background-color: #424a53;
}
.note:hover{
    transform: translateY(-10px);
}
.add-note{
    margin-top: 2%;
    background-color: #28333f;
    border-radius: 10px;
    border: none;
    width:130px;
    height: 40px;
    color: #fff;
}
.add-note:hover{
    background-color: #424a53;

}
.note-add {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    z-index: 9999;
    padding: 5%;
}

.note-add input[type="text"], .note-add textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.note-add textarea{
    height:200px;
}
.note-add button {
    background-color: #0d4888;
    border-radius: 10px;
    border: none;
    width: 100px;
    height: 40px;
    color: #fff;
    margin: 5%;
}

.note-add button:hover {
    background-color: #314761;
}
.note-add div{
    margin: 5%;
    justify-content: space-between;
}
#cancel{
    background-color: #424a53;
    border-radius: 10px;
    border: none;
    width:100px;
    height: 40px;
    color: #fff;
}
#cancel:hover{
    background-color: #363c42;
}
#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9998;
}
.note-edit {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    z-index: 9999;
    padding: 5%;
}

.note-edit input[type="text"], .note-edit textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.note-edit textarea{
    height:200px;
}
.note-edit button {
    background-color: #0d4888;
    border-radius: 10px;
    border: none;
    width: 100px;
    height: 40px;
    color: #fff;
    margin: 5%;
}

.note-edit button:hover {
    background-color: #314761;
}
.note-edit div{
    margin: 5%;
    justify-content: space-between;
}
#cancel-edit{
    background-color: #424a53;
    border-radius: 10px;
    border: none;
    width:100px;
    height: 40px;
    color: #fff;
}
#cancel-edit:hover{
    background-color: #363c42;
}
.note-details {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    z-index: 9999;
    width: 400px;
    height: fit-content;
    border: solid 1px #314761;
}

#cancelbtn{
    background-color: #28333f;
    border-radius: 10px;
    border: none;
    width:100px;
    height: 40px;
    color: #fff;
}
#cancelbtn:hover{
    background-color: #314761;
}